@import 'nib'
@import 'jeet'
@import url(http://fonts.googleapis.com/css?family=Open\+Sans)
edit()
body
  background: linear-gradient(left, #f27f5a, #ed5063)
  height 100%
  width 100%
  height auto
  width 100vw
  min-height 100vh
#container
  min-height 70vh
  min-width 70vh
  position relative
  display block
  margin 0
  center(960px)
  align()
section
  align()
  h1
    padding 90px
    color white
    font-weight bold
    font-family 'Open Sans'
