doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/reset.css')
    // CSS reset
    link(rel='stylesheet', href='assets/css/style.css')
    // Style
    script(src='assets/js/lib/modernizr.js')
    // Modernizr
    script(src='//localhost:35729/livereload.js')
    // REMOVE FOR PRODUCTION USE
    title BASERATOR
  body
    #container
      section
        h1 {{title}}
    script(src='assets/js/lib/jquery-2.1.1.js')
    // Resource jQuery
    script(src='assets/js/lib/underscore-min.js')
    // Resource Underscore
    script(src='assets/js/main.js')
    // MAIN JS
